PORT = 8080

DATABASE_URL = mongodb://127.0.0.1:27017

SMTP_HOST = smtp.example.com
SMTP_PORT = 587
SMTP_USER = user
SMTP_PASS = pass

ACTIVATION_URL = http://localhost:8080/activate
RESET_PASSWORD_URL = http://localhost:8080/reset-password

SESSION_SECRET_KEY = DONALDTRUMP

JWT_SECRET_KEY = DONALDTRUMP
JWT_EXPIRE = 15m