<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<div class="container">
    <div class="todo-app">
        <h2>Tododo List</h2>
        <form class="row" action="/add" method="POST">
            <input class="input-add" type="text" name="title" placeholder="New task">
            <button class="btn-add">Add</button>
        </form>
        <ul>
            <% tasks.forEach(task => { %>
                <li class="task">
                    <form action="/toggle/<%= task.id %>" method="POST">
                        <button class="btn-ctrl"><%= task.done ? "☑" : "☐" %></button>
                    </form>
                    <span class="task-title"><%= task.title %></span>
                    <form action="/delete/<%= task.id %>" method="POST">
                        <button class="btn-ctrl">X</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    </div>
</div>
</body>
</html>